<!DOCTYPE html>
<html lang="en">
<head th:replace="header::head-fragment(~{::title})">
    <title>MediRec | 使用说明</title>
</head>
<body>
<nav th:replace="header::nav-fragment"></nav>

<section class="slice slice-lg bg-section-dark pt-5 pt-lg-8">
    <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
        <svg class=""
             height="100px" preserveaspectratio="none" style="enable-background:new 0 0 2560 100"
             viewbox="0 0 2560 100" width="2560px" x="0px" xml:space="preserve"
             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                <polygon points="2560 0 2560 100 0 100"></polygon>
            </svg>
    </div>
    <div class="container position-relative zindex-100">
        <div class="col">
            <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                    <div class="mt-4 mb-6">
                        <h2 class="h1 text-white">Are you ready to grow faster?</h2>
                        <h4 class="text-white mt-3">Create your own experience</h4><a
                            class="btn btn-primary btn-icon mt-4"
                            href="#">Learn
                        more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slice pt-0">
    <div class="container position-relative zindex-100">
        <div class="row">
            <div class="col-xl-4 col-sm-6 mt-n7">
                <div class="card">
                    <div class="d-flex p-5">
                        <div><span class="badge badge-warning badge-pill">New</span></div>
                        <div class="pl-4">
                            <h5 class="lh-130">Listen to the nature</h5>
                            <p class="text-muted mb-0">Design made simple with a clean and smart HTML markup.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 mt-sm-n7">
                <div class="card">
                    <div class="d-flex p-5">
                        <div><span class="badge badge-success badge-pill">Tips</span></div>
                        <div class="pl-4">
                            <h5 class="lh-130">Rules not to follow</h5>
                            <p class="text-muted mb-0">Design made simple with a clean and smart HTML markup.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12 col-sm-6 mt-xl-n7">
                <div class="card">
                    <div class="d-flex p-5">
                        <div><span class="badge badge-danger badge-pill">Update</span></div>
                        <div class="pl-3">
                            <h5 class="lh-130">Beware the water</h5>
                            <p class="text-muted mb-0">Design made simple with a clean and smart HTML markup.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-sm-6">
                <div class="card">
                    <div class="d-flex p-5">
                        <div><span class="badge badge-warning badge-pill">New</span></div>
                        <div class="pl-4">
                            <h5 class="lh-130">Listen to the nature</h5>
                            <p class="text-muted mb-0">Design made simple with a clean and smart HTML markup.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6">
                <div class="card">
                    <div class="d-flex p-5">
                        <div><span class="badge badge-success badge-pill">Tips</span></div>
                        <div class="pl-4">
                            <h5 class="lh-130">Rules not to follow</h5>
                            <p class="text-muted mb-0">Design made simple with a clean and smart HTML markup.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12 col-sm-6">
                <div class="card">
                    <div class="d-flex p-5">
                        <div><span class="badge badge-danger badge-pill">Update</span></div>
                        <div class="pl-3">
                            <h5 class="lh-130">Beware the water</h5>
                            <p class="text-muted mb-0">Design made simple with a clean and smart HTML markup.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slice slice-lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6"><span class="badge badge-primary badge-pill">Key features</span>
                <h5 class="lh-180 mt-4 mb-6">Quick is a premium HTML template that includes adaptable components and
                    pages for various industries, plus new ones each month.</h5>
            </div>
        </div>
        <div class="row mx-lg-n4">
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div class="icon icon-shape rounded-circle bg-warning text-white mr-4"><i
                                    data-feather="check"></i></div>
                        </div>
                        <div><span class="h6">100% Responsive</span>
                            <p class="text-sm text-muted mb-0">Built to be customized.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div class="icon icon-shape rounded-circle bg-primary text-white mr-4"><i
                                    data-feather="check"></i></div>
                        </div>
                        <div><span class="h6">Based on Bootstrap 4</span>
                            <p class="text-sm text-muted mb-0">Built to be customized.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div class="icon icon-shape rounded-circle bg-danger text-white mr-4"><i
                                    data-feather="check"></i></div>
                        </div>
                        <div><span class="h6">Built with SASS</span>
                            <p class="text-sm text-muted mb-0">Built to be customized.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div class="icon icon-shape rounded-circle bg-success text-white mr-4"><i
                                    data-feather="check"></i></div>
                        </div>
                        <div><span class="h6">300+ components</span>
                            <p class="text-sm text-muted mb-0">Built to be customized.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div class="icon icon-shape rounded-circle bg-info text-white mr-4"><i
                                    data-feather="check"></i></div>
                        </div>
                        <div><span class="h6">23+ widgets</span>
                            <p class="text-sm text-muted mb-0">Built to be customized.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div class="icon icon-shape rounded-circle bg-warning text-white mr-4"><i
                                    data-feather="check"></i></div>
                        </div>
                        <div><span class="h6">Bootstrap Flexbox Grid</span>
                            <p class="text-sm text-muted mb-0">Built to be customized.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div>
                                <div class="icon icon-shape rounded-circle bg-info text-white mr-4"><i
                                        data-feather="check"></i></div>
                            </div>
                        </div>
                        <div><span class="h6">Animate CSS</span>
                            <p class="text-sm text-muted mb-0">Built to be customized.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div>
                                <div class="icon icon-shape rounded-circle bg-danger text-white mr-4"><i
                                        data-feather="check"></i></div>
                            </div>
                        </div>
                        <div><span class="h6">Integrated plugins</span>
                            <p class="text-sm text-muted mb-0">Built to be customized.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card shadow-none">
                    <div class="p-3 d-flex">
                        <div>
                            <div>
                                <div class="icon icon-shape rounded-circle bg-primary text-white mr-4"><i
                                        data-feather="check"></i></div>
                            </div>
                        </div>
                        <div><span class="h6">Smart HTML markup</span>
                            <p class="text-sm text-muted mb-0">Built to be customized.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="position-relative" id="footer-main" th:replace="footer::footer-fragment">
</footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/svg-injector.min.js"></script>
<script src="/js/feather.min.js"></script>
<script src="/js/quick-website.js"></script>
<script>feather.replace({width: "1em", height: "1em"})</script>
</body>
</html>