<!DOCTYPE html>
<html lang="en">

<div class="footer-relative" th:fragment="footer-fragment">
    <div class="footer pt-lg-3 footer-dark bg-dark">
        <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
            <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 preserveaspectratio="none" x="0px" y="0px" viewbox="0 0 2560 100"
                 style="enable-background:new 0 0 2560 100" xml:space="preserve" class="fill-section-secondary">
                <polygon points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
        <div class="container pt-4">
            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <a href="/">
                        <img alt="Image placeholder" src="/picture/medirec.png" width="60%" id="footer-logo">
                    </a>
                    <p class="mt-4 text-sm opacity-8 pr-lg-4">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <b class="text-primary">MediRec</b> 是一个基于 <strong><i>FBPConvNet</i></strong> 算法（Jin et al., 2016）实现医学图像重建的平台。
                        经重建后的图像中伪影和模糊会明显减少。
                    </p>
                    <ul class="nav mt-4">
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="mailto:zhang_shuming@foxmail.com" target="_blank">-->
<!--                                <i class="fab fa-envelope"></i>-->
<!--                            </a>-->
<!--                        </li>-->
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.github.com/mingmingisme/medirec" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="" target="_blank">-->
<!--                                <i class="fab fa-instagram"></i>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="javascript:;" target="_blank">-->
<!--                                <i class="fab fa-facebook"></i>-->
<!--                            </a>-->
<!--                        </li>-->
                    </ul>
                </div>
                <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
                    <h6 class="heading mb-3">&nbsp;&nbsp;用&nbsp;&nbsp;户&nbsp;&nbsp;</h6>
                    <ul class="list-unstyled" th:if="${session.loginUser == null}">
                        <li><a href="/login">&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;</a></li>
                        <li><a href=""></a></li>
                        <li><a href="/register">&nbsp;注&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;册&nbsp;</a></li>
                    </ul>
                    <ul class="list-unstyled" th:if="${session.loginUser != null}">
                        <li><a href="/user/home">用户主页</a></li>
                        <li><a href=""></a></li>
                        <li><a href="/user/logout">退出登录</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                    <h6 class="heading mb-3">&nbsp;&nbsp;关&nbsp;&nbsp;于&nbsp;&nbsp;</h6>
                    <ul class="list-unstyled">
                        <li><a href="/function">功能介绍</a></li>
                        <li><a href="/algorithm">算法简介</a></li>
                        <li><a href="/demonstration">使用说明</a></li>
                    </ul>
                </div>
<!--                <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">-->
<!--                    <h6 class="heading mb-3">Company</h6>-->
<!--                    <ul class="list-unstyled">-->
<!--                        <li><a href="#">Community</a></li>-->
<!--                        <li><a href="#">Help center</a></li>-->
<!--                        <li><a href="#">Support</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
            </div>
            <hr class="divider divider-fade divider-dark my-4">
            <div class="row align-items-center justify-content-md-between pb-4">
                <div class="col-md-6">
                    <div class="copyright text-sm font-weight-bold text-center text-md-left">
                        Copyright &copy; 2022. MediRec All rights reserved.
                    </div>
                </div>
<!--                <div class="col-md-6">-->
<!--                    <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">-->
<!--                        <li class="nav-item"><a class="nav-link" href="#">Terms</a></li>-->
<!--                        <li class="nav-item"><a class="nav-link" href="#">Privacy</a></li>-->
<!--                        <li class="nav-item"><a class="nav-link" href="#">Cookies</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>
</html>