<!DOCTYPE html>
<html lang="en">
<head th:replace="header::head-fragment(~{::title})">
    <title>MediRec | 注册</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img alt="Image placeholder" id="navbar-logo" src="/picture/medirec.png">
        </a>
        <button aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarCollapse"
                data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mt-4 mt-lg-0 ml-auto">
                <li class="nav-item"><a class="nav-link" href="">功能介绍</a></li>
                <li class="nav-item"><a class="nav-link" href="">算法简介</a></li>
                <li class="nav-item"><a class="nav-link" href="">使用说明</a></li>
            </ul>
        </div>
    </div>
</nav>
<div aria-hidden="true" aria-labelledby="modal-cookies" class="modal fade" data-backdrop="false" id="modal-cookies"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-aside left-4 right-4 bottom-4">
        <div class="modal-content bg-dark-dark">
            <div class="modal-body">
                <p class="text-sm text-white mb-3">We use cookies so that this platform works for you.
                    By using our website, you agree to our use of cookies.</p>
                <a class="btn btn-sm btn-white" href="javascript:;" target="_blank">Learn more</a>
                <button class="btn btn-sm btn-primary mr-2" data-dismiss="modal" type="button">OK</button>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center min-vh-100">
            <div class="col-md-10 col-lg-8 col-xl-8 py-10 py-md-0">
                <div class="card shadow zindex-100 mb-0">
                    <div class="card-body px-md-5 py-5">
                        <div class="mb-5">
                            <h6 class="h3">注 册</h6>
                            <p class="text-muted mb-0">注册成为MediRec的用户~</p>
                        </div>
                        <span class="clearfix"></span>
                        <form id="registerForm">
                            <!-- 用户名 -->
                            <div class="form-group">
                                <label class="form-control-label">用户名</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i data-feather="user"></i>
                                        </span>
                                    </div>
                                    <input class="form-control" id="input-username" name="username"
                                           placeholder="请输入用户名" type="text">
                                </div>
                            </div>
                            <!-- 邮箱 -->
                            <div class="form-group">
                                <label class="form-control-label">邮箱</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i data-feather="mail"></i>
                                        </span>
                                    </div>
                                    <input class="form-control" id="input-email" name="email"
                                           placeholder="请输入邮箱" type="email">
                                </div>
                            </div>
                            <!-- 职业 -->
                            <div class="form-group">
                                <label class="form-control-label">职业</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i data-feather="briefcase"></i>
                                        </span>
                                    </div>
                                    <!--                                    <input type="text" class="form-control" id="input-occupation"-->
                                    <!--                                           name="occupation" placeholder="您的职业">-->
                                    <select class="custom-select" name="occupation">
                                        <option selected value=null>请选择您的职业</option>
                                        <option value="医生">医生</option>
                                        <option value="开发人员">开发人员</option>
                                        <option value="其他">其他</option>
                                    </select>
                                </div>
                            </div>
                            <!-- 密码 -->
                            <div class="form-group mb-0">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <label class="form-control-label">密码</label>
                                    </div>
                                    <div class="mb-2">
                                        <a class="small text-muted text-underline--dashed border-primary" data-target="#input-password"
                                           data-toggle="password-text" href="#">
                                            显示密码
                                        </a>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i data-feather="key"></i>
                                        </span>
                                    </div>
                                    <input class="form-control" id="input-password" name="password"
                                           placeholder="请输入密码" type="password">
                                </div>
                            </div>
                            <!-- 确认密码 -->
                            <div class="form-group mb-0">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <label class="form-control-label">确认密码</label>
                                    </div>
                                    <div class="mb-2">
                                        <a class="small text-muted text-underline--dashed border-primary" data-target="#confirm-password"
                                           data-toggle="password-text" href="#">
                                            显示密码
                                        </a>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i data-feather="key"></i>
                                        </span>
                                    </div>
                                    <input class="form-control" id="confirm-password" name="confirmPassword"
                                           placeholder="请确认密码" type="password">
                                </div>
                            </div>
                            <div class="mt-4">
                                <button class="btn btn-block btn-primary" onclick="register()" type="button">立即注册
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer px-md-5"><small>已经成为用户？</small>
                        <a class="small font-weight-bold" href="/login">
                            立即登录
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/svg-injector.min.js"></script>
<script src="/js/feather.min.js"></script>
<script src="/js/quick-website.js"></script>
<script>feather.replace({width: "1em", height: "1em"})</script>
<script>
    !function (e, t, a, n, g) {
        e[n] = e[n] || [], e[n].push({"gtm.start": (new Date).getTime(), event: "gtm.js"});
        var m = t.getElementsByTagName(a)[0], r = t.createElement(a);
        r.async = !0, r.src = "/js/gtm.js", m.parentNode.insertBefore(r, m)
    }(window, document, "script", "dataLayer")

    function register() {
        var username = $("#input-username").val();
        if (username.length == 0) {
            alert('请输入用户名')
            return false;
        }
        var password = $("#input-password").val();
        if (password.length == 0) {
            alert('请输入密码')
            return false;
        }

        var confirmPassword = $("#confirm-password").val();
        if (confirmPassword.length == 0) {
            alert('请确认密码')
            return false;
        }

        if (password != confirmPassword) {
            alert('两次密码输入不一致')
            return false;
        }

        var registerFormData = $("#registerForm").serialize();

        $.ajax({
            type: "POST",
            url: "/user/register",
            data: registerFormData,
            success: function (res) {
                if (res.data == null) {
                    alert("注册失败!");
                } else {
                    alert("注册成功！");
                    window.location = "/login";
                }
            }

        });
    }
</script>
</body>
</html>